<h2>Editando <%= current_user.email %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <b><%= f.label :nome %></b><br>
        <%= f.text_field :nome, class:"form-control" %>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <b><%= f.label :email %></b><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>
  </div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Atualmente esperando confirmação de: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <b><%= f.label :password, "Nova senha" %></b>
        <% if @minimum_password_length %>
        <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <i>(deixe em branco caso não queira mudar)</i><br />
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <b><%= f.label :password_confirmation, "Confirmação da nova senha" %></b><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <b><%= f.label :current_password, "Senha atual" %></b><br>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <br><i>(Precisamos da sua senha atual para confirmar as mudanças)</i><br />
      </div>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Atualizar", class:"btn btn-success" %>
  </div>
<% end %>

<br><br>
<h3>Apagar conta</h3>
<br>

<%= button_to "Apagar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%>
<br>

<%= link_to "Voltar", :back, class: "btn btn-primary"%>
