<% if @empresa.errors.any? %>
  <% @empresa.errors.full_messages.each do |error| %>
    <div class="alert alert-danger">
        <h6><%= error %></h6>
    </div>
  <% end%>
<% end %>

<%= form_for @empresa do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <%= form.label :cnpj %>
        <%= form.text_field :cnpj, class:"form-control", placeholder:"00.000.000/0000-00" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control", placeholder:"empresa@email.com" %>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <%= form.label :nome_contato, "Nome do contato" %>
        <%= form.text_field :nome_contato, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <%= form.label :email_contato, "Email do contato" %>
        <%= form.text_field :email_contato, class:"form-control", placeholder:"contato@email.com" %>
      </div>
    </div>
  </div>
  <br>

  <%= form.submit action_text, class:"btn btn-success" %>
<% end %>