<br>
<h1><%= @empresa.nome %></h1>
<div class="col-sm-8">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Email da empresa</th>
        <th>CNPJ</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @empresa.email %></td>
          <td><%= @empresa.cnpj %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-8">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Contato</th>
        <th>Email do contato</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @empresa.nome_contato %></td>
          <td><%= @empresa.email_contato %></td>
        </tr>
    </tbody>
  </table>
</div>


<h2> Projetos </h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Descrição</th>
      <th colspan="2">
    </tr>
  </thead>

  <tbody>
    <% @projetos_empresa.each do |projeto| %>
      <tr>
        <td><%= projeto.nome %></td>
        <td><%= projeto.valor %></td>
        <td><%= projeto.descricao %></td>
        <td><%= link_to "Editar", edit_empresa_projeto_path(@empresa, projeto), class:"btn btn-primary"%></td>
        <td><%= button_to "Apagar", [@empresa, projeto], method: :delete,
          class: "btn btn-danger",
          data: { confirm: "Tem certeza de que quer apagar esse projeto?"}
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> RHs </h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3">
    </tr>
  </thead>

  <tbody>
    <% @rhs_empresa.each do |rh| %>
      <tr>
        <td><%= rh.nome %></td>
        <td><%= rh.email %></td>
        <td><%= link_to "Ver", empresa_rh_path(@empresa, rh), class:"btn btn-primary"%></td>
        <td><%= link_to "Editar", edit_empresa_rh_path(@empresa, rh), class:"btn btn-primary"%></td>
        <td><%= button_to "Excluir", [@empresa, rh], method: :delete,
          class: "btn btn-danger",
          data: { confirm: "Tem certeza de que quer excluir esse RH?"}
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', empresas_path, class:"btn btn-primary" %> |
<%= link_to 'Editar empresa', edit_empresa_path(@empresa), class:"btn btn-primary" %> |
<%= link_to 'Novo projeto', new_empresa_projeto_path(@empresa), class:"btn btn-info"%> |
<%= link_to 'Novo RH', new_empresa_rh_path(@empresa), class:"btn btn-info"%>